{{#with-anything router="router:main" as |_|}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}

      {{#from-elsewhere name="app-header-left" as |content|}}
        {{#if content}}
          {{content}}
        {{else}}
          <h1>Hallo {{username}}!</h1>
        {{/if}}
      {{/from-elsewhere}}

      <span class="flex"></span>

      {{#from-elsewhere name="app-header-middle" as |content|}}
        {{#if content}}
          {{content}}
        {{else}}
          {{#paper-button
            raised=(eq _.router.currentRouteName "classical-friends")
            onClick=(bind _.router "transitionTo" "classical-friends" arity=1)
          }}
            Classical Friends
          {{/paper-button}}
          {{#paper-button
            raised=(eq _.router.currentRouteName "friends")
            onClick=(bind _.router "transitionTo" "friends" arity=1)
          }}
            Friends
          {{/paper-button}}
          {{#paper-button
            raised=(eq _.router.currentRouteName "friends-plus")
            onClick=(bind _.router "transitionTo" "friends-plus" arity=1)
          }}
            Friends Plus
          {{/paper-button}}
        {{/if}}
      {{/from-elsewhere}}

      <span class="flex"></span>

      {{#paper-button onClick=(action onLogout)}}
        Logout
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
{{/with-anything}}
