{{paper-toaster}}

{{#with-anything user="service:user" session="service:session" friends="service:friends" as |_|}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
        {{#if _.session.isAuthenticated}}
          <h1>Hi {{_.user.name}}</h1>
          <span class="flex"></span>
          {{#paper-button onClick=(action (bind _.session 'logout'))}}
            Logout
          {{/paper-button}}
        {{else}}
          <span class="flex"></span>
          {{#paper-button onClick=(action (bind _.session 'login'))}}
            Login
          {{/paper-button}}
        {{/if}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{outlet}}

  {{#paper-toolbar}}
    <span class="flex"></span>
    {{#paper-toolbar-tools}}
      <h1>Network Throttling</h1>
      <div class="layout flex-25 layout-align-center-center">
        <span>from {{_.friends.responseTimeLower}}ms</span>
      </div>
      {{paper-slider
        class="flex"
        min=0
        max=3000
        step=50
        value=_.friends.responseTimeLower
        onChange=(action (mut _.friends.responseTimeLower))
      }}

      <div class="layout flex-25 layout-align-center-center">
        <span>to {{_.friends.responseTimeUpper}}ms</span>
      </div>
      {{paper-slider
        class="flex"
        min=0
        max=3000
        step=50
        value=_.friends.responseTimeUpper
        onChange=(action (mut _.friends.responseTimeUpper))
      }}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
{{/with-anything}}
